.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .add-user-button {
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .add-user-button:hover {
    background-color: #0056b3;
    color:whitesmoke;
  }
  
  .user-table {
    width: 80%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    border: 1px solid white;
    padding: 10px;
  }
  
  .user-table th {
    background-color: #444;
  }

  .action-button.delete {
    background-color: red;
    margin-right: 3px;
  }
  
  .action-button.update {
    background-color: grey;
    margin-right: 3px;
    
    
  }
  
  .action-button.view {
    background-color: green;
    margin-right: 3px;
  }
  
  .action-button:hover {
    opacity: 0.8;
  }
  